#section1,
#section3,
#section6,
#section7 {
  background-color: black;
  color: white;
}
#section2 {
  height: 592px;
}
.image_01 {
  background-image: url("../images/hero_static__k8unjy3rn32a_small_2x.jpg");
}

.image_02 {
  background-image: url("../images/section_02_hero.jpg");
  background-position-y: 40%;
  background-size: auto 240%;
}

.image_03 {
  background-image: url("../images/04.jpg");
  /* background-position-y: 30%; */
  background-size: 160% auto;
}
.image_04 {
  background-image: url("../images/06.jpg");
  background-position-y: 40%;
  background-size: 100% auto;
}
.image_05 {
  background-image: url("../images/08.jpg");
  background-position-y: 20%;
  background-size: auto;
}
.image_06 {
  background-image: url("../images/09.jpg");
  background-position-y: 20%;
  background-size: auto;
}
#section3 {
  height: 500px;
}
#section3 .sectionWrapper {
  margin: 1.2rem 0;
}
#section3 .imgWrapper {
  margin: .8rem 0;
}
#section3 img {
  max-width: 110px;
}
