#section1,
#section3,
#section6,
#section7 {
  background-color: black;
  color: white;
}
#section2 {
  height: 592px;
}
.image_01 {
  background-image: url("../images/hero_static__k8unjy3rn32a_small_2x.jpg");
}

.image_02 {
  background-image: url("../images/section_02_hero.jpg");
  background-position-y: 40%;
  background-size: auto 240%;
}

.image_03 {
  background-image: url("../images/04.jpg");
  background-position-y: 5%;
  background-size: 45% auto;
}

.image_04 {
  background-image: url("../images/06.jpg");
  background-position-y: 40%;
  background-size: 210%;
}
.image_05 {
  background-image: url("../images/08.jpg");
  background-position-y: 20%;
  background-size: auto;
}
.image_06 {
  background-image: url("../images/09.jpg");
  background-position-y: 00%;
  background-size: cover;
}
#section3 {
  height: 500px;
}
#section3 .sectionWrapper {
  margin: 1.2rem 0;
}
#section3 .imgWrapper {
  margin: 0.8rem 0;
}
#section3 img {
  max-width: 110px;
}
#section4 {
  height: 530px;
}
#section4 .imgWrapper {
  margin: 0;
}
#section4 .sectionWrapper {
  margin-top: 0;
}
#section4 .image {
  margin: 0;
  width: 100%;
}
#section5 {
  height: 510px;
}
#section5 .sectionWrapper,
#section5 .imgWrapper {
  margin-bottom: 0;
}
#section6{
  min-height: max-content;
}
#section6 *{
  border:1px solid blue;
}
#section6 .imgWrapper{
  margin:0;
  height:380px;
}#section6 .sectionWrapper{
  margin:1rem 0 2rem 0;
}
.flex-h{
  display: flex;
  border: 2px solid red!important;
  justify-content: space-around;
}
sup{
  font-size: 12px;;
}