:root {
  --link: #2997ff;
  --visited: #06c;
  --lightText: #86868b;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "SF Pro Display";
  font-size: 18px;
}
html {
  height: 100%;
  max-width: 100vw;
}
.invisible {
  visibility: hidden;
}

hr {
  border: 0.5px solid;
  border-color: var(--lightText);
  width: 100%;
}

ul {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  width: 100%;
}

ul li {
  width:100%;
}